@model List<comandaOpe.Models.ClienteRelatorio>

<head>
    <style>
        .sidenav {
            height: 100%;
            width: 90px;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            padding-top: 20px;
            border-right: 1px solid #dee2e6;
        }

            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

        .main {
            margin-top: 20px;
            margin-left: 50px;
            padding: 0px 10px;
        }
    </style>
</head>

<div class="sidenav">
    <img class="nav-item" src="/images/aurelianos.png" style="width: 85px; height:85px;">
    <a asp-controller="Financeiro" asp-action="RelatorioClienteMes"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Relatorio"><i style="color:#000000" class="fas fa-file-invoice-dollar fa-2x"></i></button></a>
    <a asp-controller="Cozinha" asp-action="ListarPedidosEmAndamento"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Pedidos"><i style="color:#000000" class="fas fa-hamburger fa-2x"></i></button></a>
    <a asp-controller="Produto" asp-action="Produto"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Cardápio"><i style="color:#000000" class="fas fa-list-ol fa-2x"></i></button></a>
    <a asp-controller="Cliente" asp-action="Cliente"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Comandas"><i style="color: #000000" class="fas fa-th fa-2x"></i></button></a>
    <a asp-controller="Estoque" asp-action="ListarEstoque"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Estoque"><i style="color:#000000" class="fas fa-dolly-flatbed fa-2x"></i></button></a>
    <a asp-controller="Usuario" asp-action="Logout"><button type="button" style="border:none; background: transparent" class="btn mr-5" data-bs-toggle="tooltip" data-bs-placement="top" title="Sair"><i style="color:#000000" class="fas fa-sign-out-alt fa-2x"></i></button></a>
</div>

<div class="main">
    <h2 class="mb-3">Gasto por cliente</h2>
    <form>
        <div>
            <button class="btn btn-primary" type="submit" asp-action="RelatorioClienteMes" asp-controller="Financeiro">Mes</button>
            <button class="btn btn-primary" type="submit" asp-action="RelatorioClienteSemana" asp-controller="Financeiro">7 dias</button>
            <button class="btn btn-primary" type="submit" asp-action="RelatorioClienteDia" asp-controller="Financeiro">1 dia</button>
            <button class="btn btn-primary" type="submit" asp-action="ListarPedidosFrequentesMes" asp-controller="Financeiro">Relatorio Produto</button>
        </div>
    </form>

    @if (Model != null)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Quantidade Pedidos</th>
                    <th scope="col">Valor Gasto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.nome_cliente</td>
                        <td>@cliente.quantidade_pedidos</td>
                        <td>@cliente.valor_gasto</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>