
@model Usuario
<style>
    body::after {
        content: "";
        background: url(../images/Blind-Pig-por-Alex-Woloch-0903-media.jpg) no-repeat center center fixed;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
</style>
@if (TempData["LoginUsuarioFalhou"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["LoginUsuarioFalhou"]
    </div>
}
<div class="row" align="center" style="margin-top: 10%">
    <hr />

    <div class="col-md-12 d-flex justify-content-center" align="center">
        <form asp-action="LoginUsuario" align="center">
            <h2 class="text-light text-center font-weight-bold">Login</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-light font-weight-bold">
                <label asp-for="Login" class="control-label">Usuário</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group text-light font-weight-bold">
                <label asp-for="Senha" class="control-label">Senha</label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default btn-success" />
                <a asp-action="RegistrarUsuario" class="btn btn-info">Registrar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}