@model Usuario
<style>

    body::after {
        content: "";
        background: url(../images/EB-Energy-Assets-Winter-2017-Foodservice-Article-Photo.jpg) no-repeat center center fixed;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-size: cover;
    }
</style>

@if (TempData["Sucesso"] != null)
{
    <p class="alert alert-success">
        @TempData["Sucesso"]
        <a asp-action="LoginUsuario">Clique para fazer o login</a>
    </p>
}
@if (TempData["Falhou"] != null)
{
    <p class="alert alert-danger">@TempData["Falhou"]</p>
}

<h2 class="text-center font-weight-bold mb-4">Registrar</h2>
<h4 class="text-center font-weight-bold mb-4">Novo Usuário</h4>

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">

        <form asp-action="RegistrarUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group font-weight-bold">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar Usuário" class="btn btn-default btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}