<div class="form">
    <form method="post" action="CadastrarCliente">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" id="nome" name="nome" class="form-control" />
        <label for="cpf" class="form-label">CPF:</label>
        <input type="text" id="cpf" name="cpf" class="form-control" />
        <br />
        <button type="submit" class="btn btn-success">Salvar dados</button>
    </form>
</div>