<head>
<style>

    body::after {
        content: "";
        background: url(../images/Restaurant-2.jpg) no-repeat center center fixed;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-size: cover;
    }
</style>
<script src="https://kit.fontawesome.com/fc7224cc6c.js" crossorigin="anonymous"></script>
</head>

<div class="btn-group" style="margin-top: 25%; margin-left: 10%;" role="group" aria-label="Basic example">
    <button type="button" style="border:none; background: transparent" class="btn mr-5"><i style="color:rgba(181, 180, 179, 0.9)" class="fas fa-dollar-sign fa-10x"></i></button>
    <button type="button" style="border:none; background: transparent" class="btn mr-5"><i style="color:rgba(181, 180, 179, 0.9)" class="fas fa-hamburger fa-10x"></i></button>
    <a asp-controller="Produto" asp-action="Produto"><button type="button" style="border:none; background: transparent" class="btn mr-5"><i style="color:rgba(181, 180, 179, 0.9)" class="fas fa-list-ol fa-10x"></i></button></a>
    <a asp-controller="Cliente" asp-action="Cliente"><button type="button" style="border:none; background: transparent" class="btn mr-5"><i style="color:rgba(181, 180, 179, 0.9)" class="fas fa-th fa-10x"></i></button></a>

</div>