@{
    ViewData["Title"] = "UsuarioHome";
}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a asp-action="Logout">Logout</a>
    </li>
</ul>
<div class="row">
    <div class="col-md-12">
        <div class=" d-inline col-md-6">
            Inserir ítem no cardápio
        </div>
        <div class="d-inline col-md-2"><button class="d-inline btn-primary">Inserir</button></div>
    </div>
</div>