@model comandaOpe.Data.Models.Estoque

<header>
    <nav class="navbar navbar-expand-lg rounded  navbar-light bg-white border-bottom box-shadow mb-3">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav mr-auto">
                <img class="nav-item" src="/images/aurelianos.png" style="width: 9%; height:9%;">
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Usuario" asp-action="Painel">Painel</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Cozinha" asp-action="ListarPedidosEmAndamento">Pedidos</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Produto" asp-action="Produto">Produtos</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Cliente" asp-action="Cliente">Comandas</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-action="Logout">Logout</a></h2>
                </li>
            </ul>
        </div>
    </nav>
</header>

<form method="post" asp-action="AdicionarItem" asp-controller="Estoque">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="produto" id="produto" placeholder="Nome do produto" required="">

        <input type="number" class="form-control" name="quantidade" id="quantidade" placeholder="Quantidade" required="">

        <input type="text" class="form-control" name="fornecedor" id="fornecedor" placeholder="Fornecedor">
    </div>

    <button type="submit" class="btn btn-lg btn-primary" value="Adicionar">Adicionar</button>
</form>