@model comandaOpe.Data.Models.Comanda
@{
    ViewBag.Title = "Comandas";
}

<header>
    <nav class="navbar navbar-expand-lg rounded  navbar-light bg-white border-bottom box-shadow mb-3">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav mr-auto">
                <img class="nav-item" src="/images/aurelianos.png" style="width: 9%; height:9%;">
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Usuario" asp-action="Painel">Painel</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Cozinha" asp-action="ListarPedidosEmAndamento">Pedidos</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Produto" asp-action="Produto">Produtos</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Cliente" asp-action="Cliente">Comandas</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-controller="Estoque" asp-action="ListarEstoque">Estoque</a></h2>
                </li>
                <li class="nav-item mt-4">
                    <h2><a class="nav-link text-dark" asp-action="Logout">Logout</a></h2>
                </li>
            </ul>
        </div>
    </nav>
</header>


<form method="post" asp-action="CadastrarCliente">
    @if (TempData["cpfNaoCadastrado"] != null)
    {
        <p class="alert alert-danger">@TempData["cpfNaoCadastrado"]</p>
    }
    <label for="nome" class="form-label">Nome:</label>
    <input type="text" id="nome" name="nome" class="form-control" />

    <label for="cpf" class="form-label">CPF: </label>
    <input type="text" id="cpf" name="cpf" class="form-control" />

    <label for="numero_comanda" class="form-label">Numero da Comanda: </label>
    <input type="text" id="numero_comanda" name="numero_comanda" class="form-control" disabled="" value=@Model.numero_comanda />

    <div class="col-12 mb-3">
        <input name="comandaID" class="form-control" id="comandaID" hidden="hidden" value="@Html.Encode(Model.id)" />
    </div>

    @if (TempData["comandaIndisponiveis"] != null)
    {
        <p class="alert alert-danger">@TempData["comandaIndisponiveis"]</p>
    }

    <input type="submit" name="enviar" value="Salvar" />
</form>
