@if(TempData["Falhou"] != null)
 {
    <p class="alert alert-danger">
        @TempData["ComandaFechada"]
    </p>
}

<body>
    <a asp-action="FormCliente"><button type="button"> Cadastrar Cliente </button></a>
    <a asp-action="FormNovaComanda"> <button type="button"> Inserir Nova Comanda </button></a>
    <a asp-action="FormComanda"> <button type="button"> Abrir Comanda </button></a>
    <a asp-action="ListaPedidosFechamentoConta"> <button type="button"> Fechar Comanda </button></a>
</body>